<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoadCourseServlet</servlet-name>
        <servlet-class>controller.coordinator.LoadCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controller.coordinator.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditCourseServlet</servlet-name>
        <servlet-class>controller.coordinator.NextEditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>controller.coordinator.EditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDashboardServlet</servlet-name>
        <servlet-class>controller.coordinator.LoadDashboardServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>LoadTeacherServlet</servlet-name>
        <servlet-class>controller.coordinator.LoadTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAssignmentServlet</servlet-name>
        <servlet-class>controller.coordinator.TeacherAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallBackServlet</servlet-name>
        <servlet-class>controller.login.CallBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.login.GoogleLoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoadCourseServlet</servlet-name>
        <url-pattern>/LoadCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditCourseServlet</servlet-name>
        <url-pattern>/NextEditCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDashboardServlet</servlet-name>
        <url-pattern>/LoadDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTeacherServlet</servlet-name>
        <url-pattern>/LoadTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAssignmentServlet</servlet-name>
        <url-pattern>/TeacherAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallBackServlet</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
